.Header {
  display: grid;
  flex-direction: row;
  grid-template-columns: auto;

  background-color: #4092ea;
  color: #ffffff;
  width: 40%;
}

.Header a {
  display: flex;
  justify-content: right;
  align-items: center;

  text-decoration: none;
  color: white;
}
img {
  width: 120px;
  height: auto;
 
}

